
#thediv{
  width:200px;
  margin:auto;
  text-align: center;
}

#factors{
  width:400px;
  margin: 3em auto;
  font-size: 3em;
  border:1px solid black;
  border-radius: 15px;
  background-color: black;
  color:white;
  padding:30px;
  /*text-align: center;*/
}

#factor1,
#factor2{
  /*width:30px;*/
  /*margin:3em;*/
  /*font-size:3em;*/
  display:inline-block;
}

#entry{
  /*width:60px;*/
  /*font-size:3em;*/
  /*margin:auto;*/
  display:inline-block;
}
